@import "tailwindcss";

button {
    cursor: pointer;
}

.custom-scrollbar {
    cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 0.4375rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #bbcbcb;
    border-radius: 2rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #9590a8;
}

.grid-column {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.animating-element {
    transform: scale(1, 0);
    transform-origin: center top;
    transition: transform 350ms ease-in-out;
}

.animating-element.animate {
    transform: scale(1, 1);
}

.animating-button {
    transform: translateY(-50%);
    transition:
        transform 400ms ease-in-out,
        background 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
        color 400ms ease-in,
        outline 350ms ease-in-out,
        outline-color 350ms ease-in-out;
}

.animating-button.animate-down {
    transform: translateY(0);
}

.grid-image {
    grid-row-start: 1;
    grid-column-start: 1;
}

.image {
    opacity: 0;
    width: 90%;
    max-height: 85vh;
    object-fit: contain;
    transition: opacity 350ms ease-in-out;
    margin: 0 auto;
}

.image.show {
    opacity: 1;
}

.item {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 450ms ease-in-out,
        visibility 10ms 450ms ease-in;
}

.item.show {
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

.normal {
    opacity: 0;
    visibility: none;
    transition:
        opacity 350ms ease-in-out,
        visibility 250ms 350ms ease-out;
}

.normal.show {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}

.expanded-section {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-16rem);
    filter: drop-shadow(8px 0 30px #b4d4ef);
    transition:
        opacity 350ms ease-in-out,
        visibility 350ms 350ms ease,
        transform 550ms ease-in-out;
}

.expanded-section.show {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
